@charset "URF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #F2059F, #8B2A8C, #022859);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #001229c5;
}

h1{
    color: #022859;
    text-align: center;
    text-shadow: 1px 1px 2px #080808e1;
}

h2{
    color: #8B2A8C;
}

p {
    text-align: justify;
    color: #F2059F;
}